body {
  background-color: white !important;
}
.container {
  background-color: #ebebeb;
}

/*Typing style*/
.cursor {
  background-color: #e5cfe5;
}
.correct {
  color: rgb(128, 206, 118);
}

#pastel {
  background-color: #e5cfe5;
  border-radius: 9px;
}
#light {
  background-color: white;
  border-radius: 9px;
}
