body {
  background-color: #d7f6ed !important;
}
.container {
  background-color: #e5cfe5;
}

/*Typing style*/
.cursor {
  background-color: #9ea09f;
}
.correct {
  color: rgb(87, 185, 74);
}

.card-header,
.card-footer {
  background-color: #fae3d3 !important;
}

#pastel {
  background-color: #e5cfe5;
  border-radius: 9px;
}
#light {
  background-color: white;
  border-radius: 9px;
}
